.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

body{
    background-color: #F1F1F3;
}

/* hero-section */

.hero{
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    /* width: 1280px; */
    height: 560px;
    margin-left: 160px;
    margin-top: 120px;
    margin-right: 160px;
    margin-bottom: 80px ;
    justify-content: center;
    align-items: center; 
}

.btn-primary{
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 270px;
height: 56px;
text-align: center;
border: none;

}

.hero-left p{
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.hero-container{
    display: flex;
    gap: 64px;
    margin: 0 ;
    justify-content: center;
    align-items: center;
}

.bnr-img{
    margin-left: 64px;
}


.hero-content{

color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}

/* vision-section */
.caption{

color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}

.visions{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 32px;
}

.visions h3{
    /* margin-left: 160px; */
}

.visions .description{
    /* margin-left: 160px; */
}

.description{
 color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.vision-container{
    display: flex;
    gap: 24px;
    /* margin-left: 160px; */
    /* margin-right: 160px; */
}

.vision-description{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}



.box-one{
padding: 32px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}

.box-two{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.box-three{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.vision-btn-one{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgb(84, 144, 245);
border: none;
}


.vision-btn-two{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgb(9, 161, 92);
border: none;
}

.vision-btn-three{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgb(255, 194, 57);
border: none;
}

/* recent-news */

.recent-news{
    margin-left: 160px;
    margin-right: 160px;
}

   
.satelite-container-one{
    display: flex;
    align-items: stretch;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-bottom: 24px;
   
}

.satelite-img > img{
   border-radius: 24px;
   width: 408px;
   height: 306px;

}

.satelite-container-one{
    display: flex;
}

.time{
    margin-left: 20px;
}


/* donate-section */
.donate{
    margin-left: 160px;
    margin-right: 160px;
}

.donate-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.center{
    display: block;
    text-align: center;
}

.tk-container{
display: flex;
gap: 24px;
justify-content: center;
text-align: center;
color: rgba(14, 14, 14, 0.8);
font-size: 34px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
 
}
.tk{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
width: 240px;
height: 128px;
padding: 40px;

}

.tk-color{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 240px;
    height: 128px;
    padding: 40px;
    
    }

.donate-foot {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    }

.donate-foot input {
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
border: none;
width: 1032px;
height: 64px;
text-align: center;
color: rgba(14, 14, 14, 0.3);
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
margin-bottom: 32px;

}

.donate{
    margin-bottom: 80px;
}
       
    


