.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* Hero-Section */

.hero{
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    width: 1280px;
    height: 560px;
    margin-left: 180px;
    margin-top: 120px;
    margin-right: 160px;
    margin-bottom: 80px ;
    /* justify-content: center;
    align-items: center; */
}

.btn-primary{
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 270px;
height: 56px;
text-align: center;
border: none;

}

.hero-left p{
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.hero-container{
    display: flex;
    gap: 64px;
    margin: 0 ;
    justify-content: center;
    align-items: center;
}

.bnr-img{
    margin-left: 64px;
}


.hero-content{

color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}